export AWS_PROFILE=
export AWS_DEFAULT_REGION=

# GOOGLE IDENTITY PROVIDER
## CLIENT ID
STG_GOOGLE_CLIENT_ID=
PRD_GOOGLE_CLIENT_ID=

## CLIENT SECRET
STG_GOOGLE_CLIENT_SECRET=
PRD_GOOGLE_CLIENT_SECRET=

## TF_VAR
export TF_VAR_google_client_id="{ stg=\"${STG_GOOGLE_CLIENT_ID}\", prd=\"${PRD_GOOGLE_CLIENT_ID}\" }"
export TF_VAR_google_client_secret="{ stg=\"${STG_GOOGLE_CLIENT_SECRET}\", prd=\"${PRD_GOOGLE_CLIENT_SECRET}\" }"
